%h2 All videos:
%table
  %thead
    %td Id
    %td Title
    %td flv
    %td mp4
    %td dimensions
    %td video bitrate
    %td audio bitrate
    %td status
    %td
  %tbody
    - @videos.each do |video|
      %tr
        %td= video.id
        %td= video.title
        %td= video.flv
        %td= video.mp4
        %td= video.dimensions
        %td= video.video_bitrate
        %td= video.audio_bitrate
        %td= video.status
        %td
          %button{ type: 'button', onclick: "delete_video(#{video.id})"  } Delete
        
%p
  %a{ href: url('/videos/new') } Upload new video